<div class="container">
  
</div>
<h1>Uso de Pipes</h1>

<div>
  <label for="texto">Valor:</label>
  <input type="text" [(ngModel)]="textoupper">
  <p>Resultado: {{textoupper | uppercase}}</p>
</div>

<h2>Ejercicio 02</h2>
<p>CURRENCY PIPES</p>
<label for="texto">Valor:</label>
<input type="text" [(ngModel)]="dinero">

<select name="select" [(ngModel)]="seleccionado">
  <option value="vacio">Selecciona el tipo de moneda</option>
  <option value="usd">USD</option>
  <option value="eur">EUR</option>
</select>

<p *ngIf="seleccionado === 'usd'">USD: {{dinero | currency: 'USD'}}</p>

<p *ngIf="seleccionado === 'eur'">EUR: {{dinero | currency: 'EUR'}}</p>

<h2>Ejercicios 03</h2>

<label for="">Ingrese Fecha, Hora: </label>
<input type="text" [(ngModel)]="fecha">

<button (click)="calcular()">Calcula el Tiempo</button>

<p>Fecha Actual: {{fa | date:'shortDate'}}</p>

<p>Resultado - Fecha: {{fecha | date: 'medium'}}</p>

<p>FINAL: {{tiempo}}</p>


